#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 80%;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-bottom:-50px;
}

.link-and-label {
    background-color: white;
    flex-direction: column;
}

.link-box {
    display: flex;
    background-color: lightgray;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: left 5%, right 5%, bottom 5%;
    padding: left 5%, right 5%;
}

#about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: #b00000;
}

#about-me-text {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    height: auto;
    width: 80%;
    font-size: larger;
}

p {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: large;
}
.link-and-label {
    padding-bottom: 50px;
}