p,
h1,
h2,
a,
h3 {
    font-family: 'Manrope', sans-serif;
}

span.back-text {
    text-decoration: underline;
}

h1 {
    text-align: center;
    top: -50px;
    font-size: 40px;
}

body>h2 {
    text-align: center;
    font-size: 30px;
    color: #b00000
}

.pack-info {
    background-color: lightgray;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;

}

.pack-info-text {
    margin: 10%;
    width: 80%;
    align-self: center;
    background-color: lightgray;
    text-align: left;
    justify-content: center;
}

.pack-info-text h2,
p,
a,
h3 {
    margin-left: 20px;
}

.pack-info-text h2 {
    color: #b00000;
    margin-bottom: -10px;
}

.pack-info-text h3 {
    margin-bottom: -10px;
}

.pack-info-text h3,
p {
    font-size: 20px;
}

.pack-info-text h2 {
    font-size: 30px;
}

.pack-info-text a {
    font-size: 20px;
    color: #b00000
}

.pack-info img {
    margin-top: auto;
    max-width: 100%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: auto;
    object-fit: contain;
}

#pack-showcases {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 95%;
    display: block;
}